<p>
  Les lliçons de la <a href="{{site.lc_site}}">Library Carpentry</a>
  està feta per persones que treballen en biblioteca i en feines relacionades amb la gestió de la informació per ajudar-te a :
</p>
<ul>
  <li>automatitzar tasques repetitives, avorrides i propenses a generar errors</li>
  <li>crear, mantenir i analitzar dades de forma sostenible i reutilitzable</li>
  <li>treballar de forma efectiva amb els companys de TIC</li>
  <li>entendre millor l'ús de programari en recerca</li>
  <li>i molt més...</li>
</ul>
<p align="center">
  <em>
    Library Carpentry t'introdueix als conceptes fonamentals de la computació 
    i et proporciona una plataforma per donar-te suport amb l'auto aprenentatge.
    Per més informació sobre el que ensenyem, i per què, si us plau consulta el nostra article
    "<a href="https://doi.org/10.18352/lq.10176">Library Carpentry: software skills training for library professionals</a>".
  </em>
</p>
