<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tr> <td>9:30</td>  <td>Recepció i benvinguda</td> </tr>
      <tr> <td>10:00</td>  <td><a href="https://librarycarpentry.org/lc-data-intro/"> Introduction to Working with Data (Regular Expressions)</a></td> </tr>
      <tr> <td>13:00</td>  <td>Pausa - Esmorzar</td> </tr>
      <tr> <td>14:30</td>  <td><a href="https://librarycarpentry.org/lc-git/">Introduction to Git</a></td> </tr>
      <tr> <td>16:45</td>  <td>Preguntes i feedback</td> </tr>
      <tr> <td>17:00</td>  <td>Tancament</td> </tr>
    </table>
  </div>
</div>
