{% comment %} <div id="shell-setup"> {% comment %} Start of 'shell' section. {% endcomment %}
  <h3>The Bash Shell</h3>
  <p>
    Bash is a commonly-used shell that gives you the power to do simple tasks
    more quickly. Please find setup instructions in
    the <a href="https://librarycarpentry.org/lc-shell/index.html#setup">lesson</a>.
  </p>
</div>

<div id="openrefine-setup">
  <h3>OpenRefine</h3>
  <p>
    OpenRefine is a tool to clean up and organize messy data. Please find instructions to
    install it and the data used in the lesson in the
    <a href="https://librarycarpentry.org/lc-open-refine/">lesson</a>.
  </p>
</div>
{% endcomment %}
<div id="git-setup"> {% comment %} Start of 'Git' section. GitHub browser compatibility
  is given at https://help.github.com/articles/supported-browsers/{% endcomment %}
  <h3>Git</h3>
  <p>
    El Git és un sistema de control de versions que permet controlar qui fa canvis a quin fitxer, i quan, i proporciona opcions per actualitzar i compartir una versió del codi fàcilment amb <a href="https://github.com/">https://github.com</a>.
  </p>
  <p>
    Seguiu les instruccions de la <a href="https://librarycarpentry.org/lc-git/index.html#setup">lliçó</a> per instal·lar Git en el vostre ordinador. 
  </p>
  <p>
    Necessitareu un compte de <a href="https://github.com/">github.com</a>
    per parts de la lliçó de Git. Comptes bàsics de GitHub són gratuits. Si us plau crea un 
    compte a GitHub si encara no en tens un abans del taller.
    Considera quina informació personal vols compartir. Per exemple, consulta aquestes 
    <a href="https://help.github.com/articles/keeping-your-email-address-private/">instruccions per mantenir la direcció de correu electrònic que entres a GitHub privada
      </a>. Necessitaras un 
    <a href="https://help.github.com/articles/supported-browsers/">navegador compatible</a>.
  </p>
</div>
